<div style="overflow-x: auto">
  <table>
    <tr class="grid-header">
      <th class="col-xs">ID</th>
      <th class="col-xs">Título</th>
      <th class="col-xs">Responsable</th>
      <th class="col-xs">Estado</th>
      <!-- <th class="col-xs">icono 1</th>
      <th class="col-xs">icono 2</th> -->
    </tr>
    <tr class="grid-content" *ngFor="let item of list">
      <td class="col-xs">{{item.id}}</td>
      <td class="col-xs">{{item.title}}</td>
      <td class="col-xs">{{item.responsable}}</td>
      <td class="col-xs">{{item.state}}</td>
      <!-- <td class="col-xs">{{item.linkHorus}}</td>
      <td class="col-xs">{{item.linkEdit}}</td> -->
    </tr>
  </table>
</div>