<div #box>
    <div class="box-textfield" [ngClass]="{'box-textfield--custom': controlMessagesProyection}">
      <div class="box-textfield__inputs">
        <div class="box-textfield__inputs__input" zBrowser>
          <input (focus)="focusFunction()" id="{{id}}" [formControl]="control" [autocomplete]="autocomplete" [ngClass]="{'disabled': disabled}"
            name="{{id}}" (focusout)="focusOutFunction($event)" type="{{typeInput}}">
          <label [ngClass]="{'whitNotPlaceholder': control.value,
                               'label-disabled': disabled}">{{ text }}</label>
        </div>
        <div class="icon box-textfield__inputs__icons"
          [ngClass]="{'box-textfield__inputs__checkbox': checkboxProyection}">
          <ng-content select="app-container-icon"></ng-content>
          <ng-content select="app-checkbox"></ng-content>
        </div>
      </div>
      <div class="box-textfield__lines" [ngClass]="{'box-textfield__lines--focus': isFocusLine,
                                                      'box-textfield__lines--error': isErrorLine,
                                                      'box-textfield__lines--errorFocus': isErrorLine && isFocusLine,
                                                      'box-textfield__lines--success': isSuccessLine,
                                                      'box-textfield__lines--successFocus': isSuccessLine && isFocusLine,
                                                      'box-textfield__lines--disabled': disabled}">
      </div>
      <div *ngIf="!controlMessagesProyection">
        <app-control-messages (handleControl)="handleControl($event)" [validationMoment]="validationMoment$"
        hint="{{dispatchHint}}" success="{{dispatchSuccess}}" alternativeError="{{dispatchError}}"
        [control]="control">
      </app-control-messages>
    </div>
  </div>
  </div>
  